	<h1>About</h1>
	<div class="row">
		<div class="col-md-6">
			<div class="thumbnail">
      	<img src="/images/unnamed.jpg" alt="michaelxu">
    	</div>
			<div class="bs-callout">
				<p>Name: Michael X.</p>
				<p>Level: 22</p>
				<p>Kingdom: Canada</p>
				<p>Bio: Lord of Coach Hero, Hero of Noobs. An avid gamer from Dota, Guild Wars 2 to Pokemon!</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="thumbnail">
      	<img src="/images/levelupsword.png" alt="coachhero">
    	</div>
			<div class="bs-callout">
				<p>Object Name: CoachHero</p>
				<p>Type: WebApp</p>
				<p>Required lvl: 0</p>
				<p>Purpose: Used by gamers for learning from heroic coaches to level up and gain skills.</p>
			</div>
		</div>
	